
/* Стили для логотипа */
.logo {
  display: flex;
  text-align: start;
  align-items: center;
}
.logo a {
  background: url(../../common/img/salad.png) no-repeat;
  display: block;
  background-size: contain;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.logo a:hover {
  background: url(../../common/img/salad.gif) no-repeat;
  background-size: contain;
}

.logo_description{
    letter-spacing: 2px;
}
.logo_description_name{
    text-transform: uppercase;
}